<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnu.zyx.backend.mapper.DepartmentMapper">
    <select id="selectAll" resultType="com.cnu.zyx.backend.entity.Department">
        select id, name from department
    </select>
</mapper>